/*
Poner la altura a 100% en las etiquetas body y html para que la imagen de fondo cubra todo el fondo 
*/

body,html  {
			height: 100%; /*height es altura*/
           }

.imgfondo {
			background-image: url('img/fondo.jpg');/*imagen de fondo*/
          

/*pantalla completa*/

 height: 100%;


/*centramos la imagen*/

background-prosition: center;

/*Escala y hacer zoom en la imagen*/

background size:cover;


/*para permitir elementos dentro de la imagen posicionados de manera absoluta, por ejemplo algun texto */

position: relative;


/*todo elemento dentro de la clase .imgfondo tendra un color blanco si estos fueran de texto*/

	color: black;

	font-family: Trebuchet MS,courier,monospace;

/**/

font-size: 100%;


}
/*posicion del texto en el medio*/
.medio
{
		position: absolute;
		top: 50;
		left: 50;
		transform: translate(50%,-50%);
		text-align: center;
}

/*la posicion de texto en la esquina  que se encuentra abajo a la izquierda*/
.arribaizquierda
{
	position: absolute;
	bottom: 0;
	left: 16px;
}

/*la posicion de texto en la esquina  que se encuentra abajo a la derecha*/

.abajoderecha
{
	position: absolute;
	bottom: 0;
	left: 16px;
}

/*estilar linea orizontal*/

hr
{
	margin: auto;
	width: 40%
}

